openapi: 3.1.0
info:
  title: Ibimina Platform API
  version: 0.1.0
  description: |
    HTTP endpoints exposed by the Ibimina platform service. The primary surface today
    is the WhatsApp webhook used to ingest delivery receipts from Meta.
servers:
  - url: https://platform-api.ibimina.rw
paths:
  /webhook/whatsapp:
    get:
      tags:
        - whatsapp
      summary: Verify webhook subscription
      description: |
        Meta calls this endpoint during webhook setup. The handler validates the verification token
        before returning the provided challenge string.
      parameters:
        - in: query
          name: hub.mode
          required: true
          schema:
            type: string
            enum: [subscribe]
          description: Verification mode sent by Meta.
        - in: query
          name: hub.challenge
          required: true
          schema:
            type: string
          description: Challenge string to echo back when the verification token is valid.
        - in: query
          name: hub.verify_token
          required: true
          schema:
            type: string
          description: Token configured in Meta and compared against the API configuration.
      responses:
        "200":
          description: Verification succeeded.
          content:
            text/plain:
              schema:
                type: string
        "400":
          description: Request parameters were malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: Verification token did not match the configured value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    post:
      tags:
        - whatsapp
      summary: Receive WhatsApp webhook events
      description: |
        Processes delivery status updates and inbound message metadata from Meta. The request must
        include the HMAC signature header (`x-hub-signature-256`) computed with the Meta App secret.
      parameters:
        - in: header
          name: x-hub-signature-256
          required: true
          schema:
            type: string
          description: HMAC SHA-256 signature of the raw request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WhatsAppWebhookPayload"
      responses:
        "200":
          description: Webhook processed successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WhatsAppWebhookResponse"
        "400":
          description: Payload failed validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: The provided signature was invalid.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Internal error while persisting webhook data.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  schemas:
    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: string
    WhatsAppWebhookResponse:
      type: object
      required:
        - ok
        - inboundMessages
        - statuses
        - failures
      properties:
        ok:
          type: boolean
        inboundMessages:
          type: integer
          minimum: 0
        statuses:
          type: integer
          minimum: 0
        failures:
          type: integer
          minimum: 0
    WhatsAppWebhookPayload:
      type: object
      properties:
        entry:
          type: array
          items:
            $ref: "#/components/schemas/WhatsAppWebhookEntry"
      additionalProperties: true
    WhatsAppWebhookEntry:
      type: object
      properties:
        changes:
          type: array
          items:
            $ref: "#/components/schemas/WhatsAppWebhookChange"
      additionalProperties: true
    WhatsAppWebhookChange:
      type: object
      properties:
        value:
          $ref: "#/components/schemas/WhatsAppWebhookValue"
      additionalProperties: true
    WhatsAppWebhookValue:
      type: object
      properties:
        messages:
          type: array
          items:
            type: object
            additionalProperties: true
        statuses:
          type: array
          items:
            $ref: "#/components/schemas/WhatsAppWebhookStatus"
      additionalProperties: true
    WhatsAppWebhookStatus:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
        timestamp:
          type: string
          description: Unix timestamp in seconds represented as a string.
        recipient_id:
          type: string
        conversation:
          type: object
          properties:
            id:
              type: string
            origin:
              type: object
              properties:
                type:
                  type: string
              additionalProperties: true
          additionalProperties: true
        errors:
          type: array
          items:
            $ref: "#/components/schemas/WhatsAppWebhookStatusError"
      additionalProperties: true
    WhatsAppWebhookStatusError:
      type: object
      properties:
        code:
          type: string
        title:
          type: string
        message:
          type: string
      additionalProperties: true
